<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="test suite">
    <listeners>
    <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"/>
    </listeners>
    <test name="test">
        <classes>
            <class name="amazn.Base"></class>
        </classes>
    </test>
</suite>